<%- include ("../_partial/_header"); %>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Als was möchtest du dich Registrieren? </h1>
        <div class="p-4"/>
    </div>
</div>


<div class="row justify-content-center ">
    <div class="col-2 text-center align-self-stretch" >
        <a href="/register/WGReg"> <button type="button" class="btn btn-lg btn-block" style="background-color: #FFA500; color:white">Als WG Registrieren
                <div class="p-3"/></button></a>
    </div>
    <div class="col-1"></div>
    <div class="col-2 text-center">
        <a href="/register/SReg"> <button type="button" class="btn btn-lg btn-block" style="background-color: #FFA500; color:white">Als Suchender Registrieren
            <div class="p-3"/>
            </button></a>
    </div>
</div>


<%- include ("../_partial/_footer"); %>