<%- include ("../../_partial/_header"); %>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Registrierung - Angaben zur Wohnung </h1>
        <div class="p-2"/>
    </div>
</div>

<div class="container ">
    <form>
        <div class="d-flex p-2" style="background-color:#FFA500; border-radius: 10px;">
            <div class="col-6 offset-3 justify-content-center">
                <div class="form-group row my-1 mr-2">
                    <div class="col-8">
                        <input type="Vorname" class="form-control" id="SVorname" placeholder="Straße"
                               name="RegSVorname">
                    </div>
                    <div class="col-4">
                        <input type="Vorname" class="form-control" id="SVorname" placeholder="Nr"
                               name="RegSVorname">
                    </div>
                </div>
                <div class="form-group row my-1 mr-2">
                    <div class="col-6">
                        <input type="Vorname" class="form-control" id="SVorname" placeholder="Ort/Stadt"
                               name="RegSVorname">
                    </div>
                    <div class="col-6">
                        <input type="Vorname" class="form-control" id="SVorname" placeholder="PLZ"
                               name="RegSVorname">
                    </div>
                </div>
                <div class="form-group row my-1 mr-2">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label" style="color:white">Beschreibung</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="p-1"/>
            <a href="/register">
                <button class="col-1 offset-3 btn" style="background-color:#FFA500; color:white">Zurück</button>
            </a>
            <a href="/register/SRegEnd">
                <button type="submit" class="col-1 offset-4 btn" style="background-color:#FFA500; color:white">Weiter</button>
            </a>
        </div>
    </form>
</div>

<%- include ("../../_partial/_footer"); %>