


</div>
<div class="p-4"/>
<div class="container">
    <nav class="navbar fixed-bottom navbar-light " style="background-color: #FFA500;">
        <div class="container">
            <div class="col-6"></div>
            <div class="col-1">
                <a class="navbar-link" href="/"><button type="button" class="btn sr-only" style="color:white">Impressum</button></a></div>
            <div class="col-1">
                <a class="navbar-link" href="/"></a><button type="button" class="btn sr-only" style="color:white">Datenschutz</button></div>
            <div class="col-1">
                <a class="navbar-link" href="/"><button type="button" class="btn sr-only" style="color:white">Impressum</button></a></div>
        </div>
    </nav>
</div>

</body>
</html>