<%- include ("../_partial/_header"); %>

<div class="row">

<h1> Welcome to our First Project ccApartment </h1>
<p>This Page isn´t Perfect but it doesn´t contain any bugs.</p>

</div>

<%- include ("../_partial/_footer"); %>