<%- include ("../_partial/_header"); %>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Willkommen im Premium Laden </h1>
        <div class="p-2"/>
    </div>
</div>

<div class="container " >
    <div class="d-flex p-2 justify-content-center" style="background-color:#FFA500; border-radius: 10px;">
        <div class="row justify-content-center">
            <div class="col-4" >
                Clear Webside
            </div>
            <div class="col-4">
                Lass dich nicht mehr von Werbung nerven
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-outline" style="color:white;" >2,99 €</button>
            </div>
            <div class="col-4" >
                Highlighten
            </div>
            <div class="col-4">
                Hebe dein Angebot hervor uner erhöhre so deine Wahrscheinlichleit einen passenden WG-Mitbewohner zu finden
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-outline" style="color:white;" >4,99 €</button>
            </div>
            <div class="col-4" >
                WG - Gründen
            </div>
            <div class="col-4">
                Gründe deine eigene WG und finde andere Suchende mit denen du gemeinsam eine WG gründest
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-outline" style="color:white;" >9,99 €</button>
            </div>

        </div>
    </div>
</div>

<div class="p-2"/>

<div class="row">
    <div class="p-1"/>
    <button type="submit" class="col-1 offset-3 btn" style="background-color:#FFA500; color:white">Zurück</button>
</div>

<%- include ("../_partial/_footer"); %>