<%- include ("../_partial/_header2"); %>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <h1 style="color:#FFA500"> Hier sind die WGs die Interesse an dir haben ^^ </h1>
        <div class="p-2"/>
    </div>
</div>

<div class="container " >
    <div class="d-flex p-2 justify-content-center" style="background-color:#FFA500; border-radius: 10px;">
        <div class="row justify-content-center">
            <div class="col-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">XY</h5>
                        <p class="card-text">Hey Ho, wie gehts dir so ^^? Suchst du noch nach einer WG ;D ?</p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">ORAS</h5>
                        <p class="card-text">Eine Verdammt Coole WG sucht genau DICH!!!</p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SW</h5>
                        <p class="card-text">Hey vielleicht passt du zu uns ^^? Lust dich mit uns zu Unterhalten?</p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<%- include ("../_partial/_footer"); %>